<?xml version="1.0" encoding="utf-8" ?>
<config>
    <server>
        <hostname>prod-env.com</hostname>
        <port>9001</port>
        <os>MAC OS</os>
    </server>
    <default>
        <configuration_folder>/tmp/</configuration_folder>
        <version>1.1</version>
        <supported_os>MAC OS, Windows, Linux</supported_os>
    </default>
</config>